<title>Formulario VF tool book1</title>
<link rel="stylesheet" href="/css/vf.css">

<body>
  
{{>panel }}

  <section class="home-section">
      <header>
        <p>Formulario VF tool book 1000</p>
        <div class="hora">
          <span>19 de abril de 2024, </span>
          <span>12:30 pm</span>
        </div>
      </header>

    <main>
        <h3>Perfil de riesgo de la organizacion (ORP)</h3>
        <P class="informacion">Resultados de la columna: Desde el menu desplegable, seleccione segun el nivel “1”, “2”,
          “3” o “NA” de acuerdo a la evaluacion del responsable de efectuarla</P>

      <section class="form">
        <ul class="ul">
          {{#each data}}
              {{#if this.estado }}
              <a href="../1/{{this.parametro.id}}" > <li class="li contestada"  > {{ this.parametro.id }} </li> </a>
                
                {{else}}
                  <a href="../1/{{this.parametro.id}}"> <li class="li noContestada" `> {{{ this.parametro.id }}} </li> </a>
              {{/if}}
            {{/each}}
        </ul> 
        <div class="subcontenedor">


            <form action="#" method="" id="FormAnswer" data-id-form={{param.id_formulario}}>
                <div class="bloque activo">
                  <div class="left">
                    <h1>Párametros de riesgo de la organización</h1>
                    <p>
                        <span id="parametro_id"> <b>  {{param.id}}  </span> : </b> {{param.parametro}}
                    </p>
                    <div class="custom-select">
                      <Label for="nivelRiesgo">  <b> Resultado : Nivel </b></Label>
                        <select id="nivelRiesgo" name="nivelRiesgo">
                            {{#each level}}
                                <option value= {{this.nivel_riesgo}} > {{this.nivel_riesgo}}</option>
                            {{/each}}
                        </select>

                      <div class="select-arrow"></div>
                    </div>

                    <div class="puntaje">
                      <div class="peso">
                        <h4>Peso: <span> {{param.peso}}</span></h4>
                      </div>
                      <div class="puntos">
                        <h4>Puntaje: <span>{{param.peso}}</span></h4>
                      </div>
                    </div>

                    <h4>Observaciones:</h4>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                  </div>

                  <div class="right">
                    <div class="niveles">
                        {{#each level}}
                          <div class="box"  id="respuesta-id"  data-respuesta-id={{this.id}} >
                              <h4> Nivel {{this.nivel_riesgo}}</h4>
                              <p>{{this.descripcion}}</p>
                            </div>
                          {{/each}}
                    </div>

                      <div class="botones-form">
                          <button  class="btnGuardar" id="btnGuardar"  type="submit"><i class='bx bx-save' id="log_out"></i> Guardar</button>
                          <button type="button">Siguiente <i class='bx bx-right-arrow-circle' id="log_out"></i></button>
                      </div>
                  </div>
                </div>
            </form>
        </div>
      </section>
    </main>
  </section>





</body>
